/*! Header Start...  */
header {
    border-bottom: 1px solid #dee0ea;
    position:sticky;
    top: 0;
    width: 100dvw;
    z-index: 99;
    background-color: white;
  }
  .global-notification {
    background-color: #1367ef;
    padding: 0.857rem 0.111rem;
    text-align: center;
    font-size: 0.75rem;
    color:white !important;
  }
  .global-notification p{
    color:white !important;
  }
  .global-notification a {
    color: white !important;
    font-weight: 600;
  }
  .global-notification a:hover {
    text-decoration: underline;
  }
  .header-row {
    height: 5.625rem;
    display: flex;
    align-items: center;
  }
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-left .logo {
    font-size: 1.5rem;
    font-weight: 500;
    transition: transform 0.6s ease;
  }
  .header-left .logo:hover {
    display: inline-block;
    transform: scale(1.2);
  }
  .header-mobile{
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
  }
  
  .header-center .navigation .menu-list {
    display: flex;
    column-gap: 1.875rem;
    align-items: center;
  }
  .header-center .menu-list .menu-list-item {
    display: flex;
    align-items: center;
    /* içindeki a elementleri ile yüksekliği aynı olsun diye böyle bir şey yaptım */
    position: relative;
    height: 5.625rem;
  }
  .header-center .menu-list .menu-link {
    font-size: 0.875rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.075rem;
    position: relative;
    transition: 0.4s ease color;
  }
  .header-center .menu-list .menu-link i {
    font-size: 0.75rem;
  }
  .header-center .menu-list .menu-link::after {
    content: "";
    width: 0;
    /*! üstüne geldiğimde tüm alanı kaplamasını istiyorum bu yüzden ilk başta width 0 olmalı */
    height: 0.0125rem;
    background-color: #1367ef;
    position: absolute;
    bottom: -0.125rem;
    left: 50%;
    transform: translate(-50%);
    transition: ease 0.3s width;
  }
  .header-center .menu-list .menu-list-item:hover .menu-link::after {
    width: 100%;
  }
  .header-center .menu-list .menu-link:hover {
    color: #1367ef;
  }
  .header-center .menu-list .active::after {
    width: 100%;
    /*! bu hangi linkim active ise hangisine tıkladıysam onun width ini 100 yapar   */
  }
  .header-center .mobile-icon{
    display: none;
  }
  
  .header-right .header-right-links {
    display: flex;
    column-gap: 0.825rem;
    align-items: center;
    justify-content: center;
  }
  .header-right .bi-person {
    font-size: 1.4375rem;
  }
  .header-right .toggle-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .header-right i {
    font-size: 1.125rem;
    transition: all 0.5s;
  }
  .header-right .header-cart {
    position: relative;
  }
  .header-right-links i:hover {
    display: inline-block;
    transform: translateY(-0.225rem);
    color: #1367ef;
  }
  
  .header-right .header-cart-link .header-card-count {
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: #1367ef;
    color: white;
    border-radius: 100%;
    display: grid;
    place-items: center;
    font-weight: 500;
    font-size: 0.825rem;
    top: -0.625rem;
    right: -0.625rem;
  }
  /*? Menu Dropdown start  */
  .header-center .menu-dropdown-wrapper {
    position: absolute;
    top: 100%;
    left: -1.875rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s ease;
    z-index: -1;
  }
  .header-center .menu-dropdown-content {
    width: 13.75rem;
    background-color: white;
    border: 1px solid #dee0ea;
    border-top: unset;
    padding: 1rem 0.925rem;
  }
  .header-center .menu-dropdown-content li {
    margin: 0.75rem;
  }
  .header-center .menu-dropdown-content a {
    font-size: 0.875rem;
    transition: color 0.4s ease;
    position: relative;
  }
  .header-center .menu-dropdown-content a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #1367ef;
    transition: width 0.7s ease;
  }
  
  .header-center .menu-dropdown-content a:hover {
    color: #1367ef;
    display: inline-block;
  }
  .header-center .menu-dropdown-content li:hover a::before {
    width: 100%;
  }
  .header-center .menu-list .menu-list-item:hover .menu-dropdown-wrapper {
    opacity: 1;
    visibility: visible;
  }
  body:has(.menu-list-item:hover)  .slider {
    position: relative;
    z-index: -1;
  }
  .header-center .menu-list-item .menu-dropdown-megamenu {
    width: 55rem;
    border: 1px solid #dee0ea;
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: -18.5rem;
    top: 0;
    padding: 1.71rem;
  }
  .header-center .menu-list-item .menu-dropdown-megamenu .megamenu-links {
    display: flex;
    column-gap: 2.65rem;
  }
  .header-center
    .menu-list-item
    .menu-dropdown-megamenu
    .megamenu-links
    .megamenu-product-title {
    margin-bottom: 1.25rem;
    font-weight: 500;
  }
  .header-center .menu-list-item .menu-dropdown-megamenu .megamenu-links li {
    margin: 0.675rem 0;
    font-size: 0.8125rem;
  }
  
  .header-center
    .menu-list-item
    .menu-dropdown-megamenu
    .megamenu-content
    .megamenu-content-info {
    font-size: 0.875rem;
    margin-top: 0.35rem;
  }
  .header-center
    .menu-list-item
    .menu-dropdown-megamenu
    .megamenu-content
    .megamenu-content-button {
    border: 1px dashed #1367ef;
    padding: 9px 26px;
    background-color: transparent;
    color: black;
    margin-top: 1.2rem;
    font-size: 1.00625rem;
    transition: background-color 0.5s ease;
    cursor: pointer;
  }
  .header-center .menu-list-item .menu-dropdown-megamenu .megamenu-links a:hover {
    color: #1367ef;
  }
  .header-center
    .menu-list-item
    .menu-dropdown-megamenu
    .megamenu-content
    .megamenu-content-button:hover {
    background-color: #1367ef;
    color: white;
    border: none;
  }
  /*? Menu Dropdown end  */


  /*! wishlist dropdown start  */
  .header-right .wishlist-wrapper {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior: contain;
    position: absolute;
    top: 105%;
    right: 4rem;
    opacity: 0;
    visibility: hidden; 
    transition: opacity 0.3s ease;
    background-color: white;
    width: 300px;
    height: 400px;
    padding: 25px;
    border: 1px solid gray;
    border-radius: 10px;
  }
  .header-right .wishlist-wrapper.active{
    opacity: 1;
    visibility: visible;
  }
 
  
  .header-right .wishlist-wrapper  i:hover{
    transform: none !important;
  }
 
  .wishlist-close{
    position: relative;
    top: 4px;
    left: 230px;
    color:red;
    cursor: pointer;
  }
  .wishlist-emoji{
    text-align: center;
    margin-top: 1.25rem;
  }
  .navigate-to-slider{
    margin-top: auto;
    padding: 1rem .75rem;
    border-radius: 1.25rem;
    background-color: #1367ef;
    color: white;
    transition: transform 1s ease;
  }
  .navigate-to-slider:hover{
    transform: scale(1.1);
  }

  
  /* body:has(.wishlist-icon:hover) .wishlist-wrapper{
    opacity: 1;
    visibility:visible;
  } */
  .wishlist-card::before{
    content: "";
    width: 300px;
    height: 1px;
    background-color:gray;
    display: inline-block;
    margin-left: -27px;
  }
  .wishlist-card::after{
    content: "";
    width: 300px;
    height: 1px;
    background-color:gray;
    display: inline-block;
    margin-left: -27px;
  }
  .wishlist-detail{
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  .wishlist-img{
    width: 3.5rem;
    height: 2.5rem;

  }
  .wishlist-img img{
    width: 100%;
    border-radius: 10px;
  }
  .wishlist-content h5{
    margin: 12px 0;
  }
  .wishlist-content p s{
    margin-right: 14px;
  }
  .wishlist-content s{
    opacity: 0.4;
  }
  .wishlist_to_Cart button{
    margin-top: 30px;
    background-color:white;
    color: black;
    width: 100%;
    padding: 5px;
    width: 100%;
    border: .2px solid black;
  }
  .bg-blue{
    color: #1367ef;
  }
  /*! wishlist dropdown end  */

  /*! Header End...  */

/*! Header Responsive Start */

@media (max-width:928px){
    /* ekranın genişliği 650 px in altına gelince bu kısım çalıcak */
    .header-center{
      position: fixed;
      /* absolute ile aynı işlevi görür sadece ekranı sağa sola yuları aşşahı kaydırdığımda benimle beraber gelmesini
      sağlarım  */
      top: 0;
      left: -100%;
      /* javascript ile tıklama işlevi verdiğimde gözükmesini istiyorum o yüzden  */
      background-color: #fff;
      border-right: 1px solid #dee0ea;
      height: 100vh;
      z-index: 1;
      transition: left 0.7s ease;
    }
    
    .left{
     position: fixed;
     top: 0;
     left: 0;
     transition: left 0.7s ease;
    }
  
    .header-center .navigation .menu-list{
      flex-direction: column;
      padding: 3.125rem 4.6875rem;
    }
    .header-center .mobile-icon{
      position: absolute;
      top: 1.25rem;
      right:1.25rem;
      display: inline-block;
      font-size: 1.25rem;
      cursor: pointer;
    }
    .header-center .menu-dropdown-wrapper{
      display: none ;
    }
    
    .header-center .navigation .menu-list .menu-list-item i{
      display: none;
    }
    .header-center .navigation .menu-list .menu-list-item .menu-link{
      font-size: 1rem;
    }
    .header-mobile{
      display: inline-block;
    }
    .global-notification{
      font-size:13px;
    }
  }
  
  /*! Header Responsive End*/
  